extends layout.pug

block content
  .container#content
    .row.small-margin-top
      .col-lg-12
        .jumbotron.jumbotron-fluid.text-center.bg-white
          .container
            h1.display-4 WELCOME #{username.toUpperCase()} 
            p.lead LMD VSC is at your service
            a.btn.btn-outline-danger.small-margin-top.ml-2(href='/') Log Out
    
    .row.justify-content-center.text-center.mb-4
      .col-sm-6.text-center
        h2.text-info.font Command Line Guide
      .col-sm-6
        h2.text-info.font Note
        

    .row.justify-content-center.mb-4
      .col-sm-8#command-guide.border.border-info.p-4.border-right-0
        p.text-info.font-weight-bold Create ~>&emsp;
          span.text-dark.font-weight-normal create | &lt;project name&gt;
        ul
          li Example: create ProjectAlpha /SomeFolder

        p.text-info.font-weight-bold Check-in ~> &emsp;
          span.text-dark.font-weight-normal check-in | &lt;project name&gt; | &lt;(optional) from path&gt;
        ul
          li Example: check-in ProjectAlpha
        
        p.text-info.font-weight-bold Check-out ~>&emsp;
          span.text-dark.font-weight-normal check-out | &lt;project name&gt; | &lt;from_username&gt; | &lt;from manifest id&gt; OR &lt;label name
        ul 
          li Example with ID: check-out Bob ProjectBeta 123456 /BobTargetFolder
          li Example with label:  check-out Bob ProjectBeta somelabel /BobTargetFolder

        p.text-info.font-weight-bold Merge-out ~>&emsp;
          span.text-dark.font-weight-normal merge-out | &lt;project name&gt; | &lt;target manifest id&gt; | &lt;source username&gt; | &lt;souce manifest id&gt;
        ul
          li Example: merge-out ProjectBeta Alice_manifestID Bob Bob_manifestID
        
        p.text-info.font-weight-bold Merge-in ~>&emsp;
          span.text-dark.font-weight-normal merge-in | &lt;project name&gt; 
        ul
          li Example: merge-in ProjectBeta

        p.text-info.font-weight-bold Label ~>&emsp;
          span.text-dark.font-weight-normal &lt;label&gt; | &lt;project name&gt; | &lt;label name (one string)&gt; | &lt;manifest id&gt;
        ul
          li Example: label ProjectAlpha my_label 123456

          
      .col-sm-4.border.border-info.p-4
        ul
          li Assume this [USERNAME] issues these commands
          li Target = this [USERNAME]
          li Source = other [USERNAME]
          li | = a space between element


    .row.text-center.justify-content-center
      .col-lg-9
        form(method='POST').form
          .input-group.mb-3
            .input-group-prepend
              span.input-group-text.text-info#command-line-prepend Command-line
            textarea.form-control(type="text", aria-label="Your command here..." placeholder="Command line" name="commandInput")
            button#command-button.btn.btn-outline-primary.small-margin-top(type='submit') Submit     

    //- .row.justify-content-center.text-center.mt-5
    //-   .col-sm-9
    //-     h2.text-info.font Old Ways (Recondering...)
    //- .row.text-center.justify-content-center
    //-   .col-lg-9
    //-     form(method='POST')
    //-       .btn-group.btn-group-toggle(data-toggle='buttons')
    //-         label.btn.btn-secondary Create Repo 
    //-           input#create-repo-button(type='radio' name='command_option' value="create" autocomplete='off')
    //-         label.btn.btn-secondary Check In 
    //-           input#check-in-button(type='radio' name='command_option' value="check-in" autocomplete='off')
    //-         label.btn.btn-secondary Check Out 
    //-           input#check-out-button(type='radio' name='command_option' value="check-out" autocomplete='off')
    //-         label.btn.btn-secondary Label 
    //-           input#label-button(type='radio' name='command_option' value="label" autocomplete='off')
    //-       p#form-message.mt-3.text-danger
    //-       input#repo-name.form-control.user-input.small-margin-bottom(type='text' name='repoName' placeholder='Repo Name')
    //-       input#source-path.form-control.user-input.small-margin-bottom(type='text' name='sourcePath' placeholder='From Path (Absolute)')
    //-       input#label.form-control.user-input.small-margin-bottom(type='text' name='label' placeholder='Enter Label')
    //-       input#manifest-target.form-control.user-input.small-margin-bottom(type='text' name='manifestID' placeholder='Enter manifest ID')
    //-       input#dest-path.form-control.user-input.small-margin-bottom(type='text' name='destPath' placeholder='To Path (Absolute)')
    //-       input#create-repo-button.btn.btn-outline-primary.small-margin-top(type='submit')
    .row.justify-content-center.m-4
      pre . . . 
      
    .row
      .col-lg-12
        .data-list.mt-2
          h5.text-center.mb-4.text-primary YOU HAVE #{repoInfoList.length} REPOS:
          .card-columns
            each repo in repoInfoList
              .card.border-info.rounded
                  .card-body
                      h5.card-title.badge.badge-primary #{repo.name}
                      .card-text
                        p 
                          span.font-weight-bold Labels: 
                          ul
                            each label in repo.labels
                              - const labelName = Object.keys(label)
                              li #{labelName} &rarr; #{label[labelName]}
                        p 
                          span.font-weight-bold Manifests:
                          ul
                           each manifest in repo.manifests
                            li
                              span.badge.badge-success #{manifest.name}
                              ul
                                each key in Object.keys(manifest)
                                  if (key !== "id" && key !== "name")
                                    li
                                      span.badge.badge-light #{key}
                                      span  #{manifest[key]}
    .row.justify-content-center.m-4
      pre . . . 

    .row.text-center.justify-content-center.mt-4
      h2.text-primary Existing Users
      
    .row.mt-4
      .col-lg-12#usersList
        .card-columns
          each user in Object.keys(users)
            .card.p-3
              .card-body
                  h5.card-title.badge.badge-primary #{user}
              .card-text
                ul
                  each project in users[user]
                    - const [projectName] =Object.keys(project)
                    li.text-dark #{projectName}
                      ul
                        li #{project[projectName]}
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(type="text/javascript" src='/app/js/user.js')