extends layout

block content
  .container#content
    .row.small-margin-top
      .col-lg-12
        .jumbotron.jumbotron-fluid.text-center.bg-white
          .container
            h1.display-4 ALL EXISTING USERS 
            p.lead LMD VSC is at your service
            if (username)
              a.btn.btn-outline-danger.small-margin-top.ml-2(href=`/user/${username}`) Back
            else
              a.btn.btn-outline-danger.small-margin-top.ml-2(href=`/`) Back

  .row.mb-2.mx-4.text-center
    .col-4
    .col
      ul
        li.mx-4.badge.badge-info User
        li.mx-4.badge.badge-success Project 
        li.mx-4.badge.badge-primary Manifest 
    .col-4
 

  .row.mt-4.mx-4
      .col-sm-12#usersList
        .card-columns
          .card.p-3
            h5.card-title.badge.badge-warning.text-uppercase User with no project 
            each user in users
              if user.projects.projects.length === 0
                ul
                  li.badge.badge-primary #{user.user}

          each user in users
            if user.projects.projects.length > 0
              .card.p-3
                .card-body
                  h5.card-title.badge.badge-primary #{user.user}
                .card-text
                  ul
                    each proj in user.projects.projects
                      li.badge.badge-success #{proj.projectName}
                      ul
                        each label in proj.labels
                          - const labelName = Object.keys(label)
                            li 
                              span.badge.badge-light #{labelName} &rarr; 
                              span #{label[labelName]}
                      div
                        each manifest in proj.manifests
                          p.badge.badge-info #{manifest.id}
                            ul
                              li
                                span.badge.badge-light command: 
                                span #{manifest.command}
                              li
                                span.badge.badge-light datetime: 
                                span #{manifest.datetime.replace(/T/, " ").replace(/\..+/, "")}
                              li 
                                span.badge.badge-light Check-in file counts: 
                                span #{manifest.structure.length}
          
          